@font-face {
  font-family: 'TradeGothicLTStd-BoldExt';
  src: url('../font/TradeGothicLTStd-BoldExt/font.woff2') format('woff2'), 
       url('../font//TradeGothicLTStd-BoldExt/font.woff') format('woff');
}
@font-face {
  font-family: 'TradeGothicLTStd-Extended';
  src: url('../font/TradeGothicLTStd-Extended/font.woff2') format('woff2'), 
       url('../font/TradeGothicLTStd-Extended/font.woff') format('woff');
}
@font-face {
  font-family: OCR_A_Std_Regular;
  src: url('../font/OCR_A_Std_Regular/OCR_A_Std_Regular.ttf') format('truetype');
}

@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@300;400;500;600;700&display=swap');

html, body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: work-sans, sans-serif;
  font-weight: 300;
  font-style: normal;
  letter-spacing: 1px;
  line-height: 1.6;
  overflow-x: hidden; 
  /* ÷last line is not cross browser compatabile */
}

/*
#all-nav {
position: fixed;
top: 0;
background-color: black;
display: flex;
width: 101vw;
transform: rotate(-2deg) translateY(-30px);
max-height: 140px;
margin-top:-10px;
margin-left: -5px; 
z-index: 999;
} 

.nav {
width: 100%;
display: flex; 
transform: rotate(-2deg);
align-items: center;
justify-content: space-between;
vertical-align: middle;
transform: rotate(2deg);
margin-left: -10px; 
margin-top: 50px;
}

.hamburger {
margin-top: 80px;
margin-right: 30px;
display: none;
transform: rotate(2deg);
}
.menu {
color: #BEE1D6;
font-size: 36px;
}

#logo{
padding: 15px;
Margin-top: 21px; 
margin-left: 20px;
margin-right: 40px; 
max-width: 100%;
max-height: 100px;
z-index:1001;
}
.topnav-left a {
font-family: ballinger-mono, sans-serif;
font-weight: 300;
font-size: 15px;
color: white; 
text-decoration: none;
padding: 0px;  
width: 125px;
text-align: center;
margin-right: 30px; 
}
.leftlinks{ margin-top: 100px; }

.RightLinks { 
font-size: 25px;
color: white; 
text-decoration: none;
margin-left: 15px;
vertical-align: middle;
justify-content: flex-end;
}

.topnav-right{ margin-right: 50px; }

.resume {
font-size: 15px;
color: white; 
font-family: ballinger-mono, sans-serif;
font-weight: 300;
text-decoration: none;
text-align: center;
margin-left: 11px;
} 

#email { font-size: 28px; }
#phone { font-size: 23px; }
*/

.allcontent {
  display: flex;
  flex-direction: row;
  background-color: white;
  justify-content: space-around;
  margin-top: 8em;
  /* width: 100vw;  */
  max-height: 860px; 
} 
.mobileFlex {
  display: none;
}

.leftgraphic {
  display: flex; 
  width:10em;
  align-items: flex-end;
}
#CIRCLEL {
  min-width: 150PX;
  max-width: 200px;
  height: auto;
  margin: 300px 0px -47px -94px;
  /* position: relative; */
  transition-duration: 1.4s;
  transition-property: transform;
}
#CIRCLEL:hover {
  transform: rotate(60deg);
  -webkit-transform: rotate(60deg);
}
.rgraphic {
  display: flex; 
  width: 15em;
  margin-top: -43rem;
  margin-right: -6.5rem;
}
#CIRCLE {
  width: 100%;
  min-width: 200PX;
  max-width: 350px;
  height: auto;
  transition-duration: 1.4s;
  transition-property: transform;
}
#CIRCLE:hover {
  transform: rotate(120deg);
  -webkit-transform: rotate(120deg);
}
.copyarea {
  display: flex; 
  flex-direction: column;
  width: 30em;
  justify-content: center;
  z-index: 0;
}

/* my face */
.hero, .heroMobile {
  display: flex; 
  flex-direction: column;
  align-items: flex-start;
  margin: 25px 0px 100px 20px;
  width: 20em;
}
.myface {
  display: block;
}
#face {
  width: 100%;
  min-width: 175px;
  max-width: 350px;
  height: auto;  
  margin-left: 10px;
  z-index: -1;
}

#name {
  font-size: 30px !important;
  font-family: 'TradeGothicLTStd-BoldExt', sans-serif !important;
  /* line-height: 0.5em; */
}
#mission {
  font-size: large;  
}
#PD {
  font-size: 30px;
  font-family: 'TradeGothicLTStd-Extended', sans-serif;
  /* line-height: .75em; */
}
#iam {
  font-size: 30px;
  font-family: 'TradeGothicLTStd-Extended', sans-serif;
} 
h3 {
  font-size: 22px;
  font-family: 'TradeGothicLTStd-boldExt', sans-serif;
}

#cta {
  height: 70px;
  display: flex;
  align-items: center;
  margin-bottom: 30px;
}
.button1 {
  background-color:#BEE1D6; 
  font-family: ocr-a-std, monospace;
  font-style: normal;
  font-size: 15px;
  color: black;
  text-decoration: none;
  Margin-right: 40px; 
  padding: 15px 25px 15px 25px; 
}

.button2 {
  background-color: #FCB140;
  font-family: ocr-a-std, monospace;
  font-size: 15px;
  color: black;
  text-decoration: none;
  padding: 15px 25px 15px 25px;  
}

.xy {
  position: relative;
  bottom: 0;
  margin: 0;
}

.wrapper {
  display: grid;
  /* width: 101vw; */
  grid-template-columns: repeat(10, [col] 10% ) ;
  grid-template-rows: repeat(3, [row] auto  );
  column-gap: -5px;
  row-gap: -5px;
  grid-row-gap: 0px;
  background-color: #fff;
  color: #444;
  position: relative;
  margin: -5px;
  /* margin-bottom: 30px; */
  padding: -3px;
  box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.05);
}

  .test,
  .test2,
  .test3
  { position: relative; }

  .test::after,
  .test2::after,
  .test3::after
  {
    content: "";
    border-top: 0.8em solid #BEE1D6;
    height: 0;
    position: absolute;
    top: 1.4em;
    z-index: 0;    
  }
  .test::after { width: 400px; }
  .test2::after { width: 595px; right: 0; }  
  .test3::after { width: 400px; }
  
  h2 {
    position: relative;
    z-index:1;
    font-family: OCR_A_Std_Regular;
    font-style: normal;
    font-size: 24px;
    margin-top: 1.5em;
    color: black;
  }
  
  .a {
    grid-column: col 1 / span  1;
    grid-row: row 1;
    background-color: white;
  }
  
  .b {
    grid-column: col 2 / span  2;
    grid-row: row 1;
    background-color: white;
  }
  
  .c {
    grid-column: col 4 / span  7;
    grid-row: row 1;
    background-color: white;
  }  
  
  #tb {  
    width: 100%;
    height: auto;
    margin-bottom: -4px;
  }
  #mtr {
    width: 100%;
    height: auto;
    margin: -4px;
  }
  #arctic {
    width: 100%;
    height: auto;
  }
  
  .d {
    grid-column: col  1/ span  6;
    grid-row: row 2;
    margin-right: 40px;
  }
  
  .e {
    grid-column: col 7 / span 3;
    grid-row: row 2;
    justify-self: end;
  }
  
  .f {
    grid-column: col 10 / span  1;
    grid-row: row 2;
  }
  
  .g {
    grid-column: col 1 / span  1;
    grid-row: row 3;
  }
  
  .h {
    grid-column: col 2 / span  2;
    grid-row: row 3;
  }
  .i {
    grid-column: col 4 / span  7;
    grid-row: row 3;
  }

.wrapperMobile {
  display: none;
}

/*
.morestuff{
  background-color: black;
  text-align: center;
  width: 101vw;
  margin-left: -10px;
  margin-top: -30px; 
  color: white;
  font-family: 'TradeGothicLTStd-Extended', sans-serif;
  font-size: 20px;
  line-height: 3em;
  padding-top: 10px;
}
*/

.morestuffs {
  background-color: black;
  font-family: 'TradeGothicLTStd-Extended', sans-serif;
  font-size: 20px;
  /* line-height: 3em; */
  height: 100px;
  padding: 0 1em;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}
.morestuffs a {
  text-decoration: none;
  color: white;
} 
.morestuffs i {
  transition: all 0.5s ease;
}
.morestuffs a:hover i {
  transform: translateX(15px);
}
.morestuffs::after {
  content: '';
  background-color: black;
  width: 100%;
  height: 50%;
  position: absolute;
  top: 100%;
}

.xy {
    position: relative;
    bottom: 0;
    margin-bottom: -3px;
}

/*
.footer {
background-color:#FCB140;
display: flex;
width: 100vw;
justify-content: space-between;
position: relative;
margin-right: -5px;
z-index: 1;

}
.footer a{
color: #000000;
font-size: 17px;
font-weight: 500;
text-decoration: none;
margin-left: 40px;
}
.leftfooter{
margin-top: 20px;
}   
.copyright {
font-size: 13px;
margin-top: 20px;;
margin-right: 40px; 
padding-bottom: 20px; 
}
*/

@media only screen and (max-width: 825px){
/*
#all-nav{
justify-content: space-between;
}

.nav{
position: absolute;
top: 90%;
flex-direction: column;
display: none;
background-color: black;
transform:  translateY(-36px);
min-height: 1400px;
width: 100vw;
margin-left: -20px;
margin-right: -20px;
}

#logo{
Margin-top: 28px;
max-width: 66%;
max-height: 66%;
}

.leftLinks{
align-self: center;
}
.topnav-left{
display: flex;
flex-direction: column;
transform: rotate(2deg);
}
.topnav-left a{
padding: 10px;
}

.topnav-right{
display: flex;
flex-direction: column;
transform: rotate(2deg);
text-align: center;
}

.topnav-right a{
padding: 10px;
}
.hamburger {
display: block;
z-index: 998;
margin-right: 50px;
} 
*/

.mobileFlex {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column-reverse;
  margin-bottom: 2rem;
  align-items: center;
}
.copyarea, .hero, .rgraphic, .leftgraphic {
  display: none;
}

.heroMobile {
  margin: 50px 0px 25px 0px;
}
.copyareaMobile {
  display: flex;
  flex-direction: column;
}
.allcontent {
  max-height: none;
}
#face {
  max-width: 300px;
}
.text, #cta {
  margin-left: 1.25rem;
  margin-right: 1.25rem;
}

.button1 {
  padding: 15px 15px 15px 10px;
  margin-right: 20px;
  font-size: 10pt;
}

.button2 {
  padding: 15px 15px 15px 10px;
  margin: 0;
  font-size: 10pt;
}

.footerbottom, .work {
  overflow: hidden;
}

.test::after,
.test2::after,
.test3::after
{ left: 0; }

/*
.morestuff {
width: 100vw;
margin: 0;
}

.footer {
display:flex;
flex-direction: column;
align-items: flex-start;
width: 100vw;
margin: 0;
margin-right: -20px;
}

.leftfooter {
display:flex;
flex-direction: column;
margin-left: 5px;
margin-right: -20px;
}
.copyright {
margin-left: 45px;
font-size: 12px;
margin-top: 20px;;
margin-right: 40px; 
padding-bottom: 20px; 
} 
*/

.wrapper {
  display: none;
}
.wrapperMobile {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.d {
  margin-right:0;
}
.b, .e, .h {
  padding-bottom: 1em;
  padding-left: 2em;
}
/* closing bracket for media query -- don't delete */
}

/*
========================
      Accordion Style
========================
*/

.acc-title {
  cursor: pointer;
}
.acc-title img {
  width: 25px;
  transition: transform 0.4s ease;
}
.acc-content {
  max-height: 1000em;
  overflow: hidden;
  transition: max-height 1s ease;
}
.acc-hide img {
  transform: rotate(-90deg);
}

/*
========================
      Lightbox Adjust
========================
*/

.lb-nav a.lb-prev { opacity: 0.3 !important; }
.lb-nav a.lb-next { opacity: 0.3 !important; }
.lb-nav a.lb-prev:hover { opacity: 1 !important; }
.lb-nav a.lb-next:hover { opacity: 1 !important; }

/*
========================
      Task Buddy
========================
*/

body p {
  font-size: 20px !important;
  font-family: Work-sans !important;
  letter-spacing: 1px !important;
  font-weight: 300 !important;
  margin-bottom: 1.5em !important;
  line-height: 25px !important;
  letter-spacing: 0em !important;
}

p > .strong {
  font-family: work-sans;
  font-weight: 600;
  line-height: 23px;
  letter-spacing: 0em;
}

.strong {
  font-family: work-sans, sans-serif;
  font-weight: 600 !important;
  font-style: normal;
}

.task-buddy-h1, .info-bar p {
  font-family: 'TradeGothicLTStd-BoldExt';
}

.task-buddy-h1 {
  font-family: TradeGothicLTStd-boldExt;
  font-size: 36px !important;
  font-weight: 700;
  line-height: 43px;
  letter-spacing: 0em;
  display: block;
  margin-bottom: 1em !important;
}

.task-buddy-h2 {
  font-size: 24px;
  font-weight: 400;
  line-height: 42px;
  letter-spacing: 0em;

}

.btn-primary, .btn-warning, .btn-danger, .btn-disabled {
  padding: 1em 2.5em;
  font-family: OCR_A_Std_Regular;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 30px;
  letter-spacing: 0em;
  text-align: center;
  cursor: pointer;
}

.btn-primary:focus, .btn-warning:focus, .btn-danger:focus {
  outline: none;
}

.btn-disabled, .btn-disabled:hover, .btn-disabled:focus  {
  background: #e4e4e4 !important;
  line-height: 4em;
}

/* primary button */

.btn-primary {
  background: #BEE1D6;
}

.btn-primary:hover {
  background: #D9FCF1;
}

.btn-primary:active, .btn-danger:active {
  box-shadow: 5px 5px 1px #FABD3F;
}

/* warning button */

.btn-warning {
  background: #FABD3F;
}

.btn-warning:hover {
  background: #FFC90A; 
}

.btn-warning:active {
  box-shadow: 5px 5px 1px #BEE1D6;
}

/* danger button  */

.btn-danger {
  background: #EB9893;
}

.btn-danger:hover {
  background: #FFCBC7;
}

.btn-danger:active {
  box-shadow: 5px 5px 1px #FABD3F;
  outline: none;
}

.task-buddy-wrapper {
  width: 100%;
}

.content {
  margin: 0 3em;
}

.task-buddy{
  background: #aaa;
  min-height: 600px;
  background-image: url('../Images/task_budy_bg.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  overflow: hidden;
}

.task-buddy .content{
  margin-top: 200px;
  margin-bottom: 40px;
  position: relative;
}

.task-buddy-text {
  background: #BEE1D6;
  max-width: 87%;
  height: 57px;
  min-width: auto;
  display: block;
  word-wrap: break-word;
  padding-left: .9em;
  line-height: 60px;
}

.task-buddy-floating-text {
  position: absolute;
  top: 1.5em;
  right: 3.5em;
  max-width: 510px;
  background: #fff;
  padding-top: 12px;
  padding-bottom: 12px;
  padding-left: 27px;
  padding-right: 27px;
  border: 5px solid #EB9893;
  box-shadow: 0 0 0px 1px #444444, inset 0 0 0px 1px #444444;
  font-family: OCR_A_Std_Regular;
  font-size: 20px;
  line-height: 24px;
  letter-spacing: 0em;
}

/*
========================
The Idea / The Details
========================
*/

.container {
  margin: 2.5em;
}

.container-child {
  padding: 0 2.3em;
  padding-right: 0;
}

.max-width-1130 {
    max-width: 90%;
}

.container-p {
  /* letter-spacing: 1px !important;
  line-height: 25.6px !important;
  font-weight: 300 !important;
  margin-bottom: 1.7em !important;
  font-size: 16px !important; */
}

.theIdea-section-content {
  display: flex;
  justify-content: space-between;
  /* gap: 3em; */
}

.the-idea {
  width: 80%;
  padding-right: 2em;
}

.the-idea p {
  font-size: 20px !important;
  line-height: 124.3%;
}

.the-details .task-buddy-h1 {
  margin-left: -.5em;
  margin-bottom: .5em;
}

.the-details {
  min-width: 30%;
  padding-left: 3em;
  background-image: url('../Images/Line_7.png');
  background-repeat: repeat-y;
}

.project-info {
  display: flex;
}


.team {
  display: flex;
  gap: 1em;
}

.the-details span {
  display: block;
  font-weight: 400;
}

.the-details span:nth-child(3), .the-details span:nth-child(4) {
  display: inline-block;
}

.the-details span:nth-child(4) {
  margin-left: .5em;
}

.theDetails-title {
  min-width: 150px;
}

.the-details-desc {
  font-family: work-sans, sans-serif;
  font-size: 20px !important;
  letter-spacing: 0em !important;
  line-height: 25px !important;
  margin-bottom: .5em;
  margin-top: .4em;
  width: 60%;
}

.the-details .theDetails-heading, .theDetails-title {
  font-family: 'OCR_A_Std_Regular';
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 40px;
  letter-spacing: 0em;
}

.theDetails-description {
  font-size: 16px;
  font-style: normal;
  line-height: 40px;
  margin-left: 2em;
  letter-spacing: 0em;
  text-align: left;
  font-size: 16px;
  font-weight: 400;
  /* font-family: 'Work Sans', sans-serif; */
}

.info-bar {
  background: #BEE1D6;
  margin: 0 3em;
  margin-bottom: 3em;
  box-shadow: 10px 10px 0 #FABD3F;
  margin-left: 2.5em;
}


.info-bar p {
  font-family: TradeGothicLTStd-BoldExt !important;
  font-size: 24px !important;
  font-style: normal;
  font-weight: 700 !important;
  line-height: 29px !important;
  letter-spacing: 0em !important;
}

.info-bar span {
  display: block;
  margin-top: -2em;
  padding-bottom: .5em;
  font-size: 20px;
  letter-spacing: .75px;
  font-weight: 300 !important;
  font-family: 'Work Sans', sans-serif;
}

/*
========================
    The Problem
========================
*/

.the-problem-content {
  position: relative;
  margin-top: 4em;
}

.the-problem-description {
  font-family: 'TradeGothicLTStd-Extended' !important;
  font-size: 24px !important;
  font-weight: 400 !important;
  line-height: 35px !important;
  letter-spacing: 0em;
  margin-bottom: .5em !important;
}

.the-problem-content p {
  line-height: 124.3%;
}

.the-problem-details {
  margin-bottom: 3.5em !important;
  margin-right: 1em;
  /* border: 1px solid #000; */
}

.hypothesis-section {
  display: flex;
  justify-content: space-between;
}

.hypothesis-section .orange-box {
  border: 10px solid #EB9893;
  box-shadow: 0 0 0px 1px #444444, inset 0 0 0px 1px #444444;
  margin-top: 3em;
  max-width: 465px;
  align-self: flex-start;
}

.hypothesis-section h2 {
  margin-bottom: 1.5em;
}

.container-h2 {
  margin-left: -1.6em;
}

.floating-inner {
  padding: 0 1em;
  margin-bottom: 0;
  line-height: 30px;
  padding-bottom: 1em;
}

#special {
  font-size: 16px !important;
  font-family: OCR_A_Std_Regular !important;
  line-height: 30px;
  font-weight: 400;
  letter-spacing: 0;
}

.short-p {
  margin-right: 2em;
  margin-bottom: 0 !important;
}

.info-icon {
  font-size: 3rem;
  line-height: 0px;
}


/*
========================
      The Data
========================
*/

.the-data  .task-buddy-h1{
  margin-bottom: 0 !important;
}

.data-desc {
  margin-top: 2em;
}

.data-percentages {
  width: 100%;
  display: flex;
  margin: 4em 0;
  margin-bottom: 6em;
  justify-content: center;
  align-items: center;
  height: 180px;
}

.data-percentages p {
  font-family: OCR_A_Std_Regular !important;
  font-weight: 400 !important;
  font-size: 16px !important;
  line-height: 26px !important;
  letter-spacing: 0em !important;
}

.report {
  display: flex;
  gap: 1em;
  align-items: center;
}

.report img {
  object-fit: contain;
}

.the-problem-description b {
/* letter-spacing: 0em; */
}

.open-btn img, .close-btn img{
  border: none;
  background: transparent;
  width: 40px;
  margin-left: .5em;
  margin-bottom: -5px;
}

.identifying-user img {
  /* border: none !important; */
}

.identifying-user h2{
  margin: 2em 0;
  margin-bottom: 0;
  overflow: hidden;
}

.dashed-border {
  background: #fff;
  overflow: hidden;
}

.dashed-border::after {
  content: '';
  top: 50%;
  min-width: 100%;
  height: 1px;
  position: absolute;
  background-image: url('../Images/Line_32.png');
  background-repeat: repeat-x;
  /* background-size: 10px; */
  margin: 0 1em;
}

.identifying-user p {
  font-size: 20px !important;
}

.lightboxs {
  justify-content: space-between;
  display: flex;
  text-align: center;
  margin-top: 3em;
}

.lightboxs span {
  display: block;
  font-size: 20px;
  margin: 1em 0;
}

.lightboxs img {
  border: 1px solid #000;
}

.identifying-user .lightboxs {
  margin-top: 4em;
}

.identifying-user .lightboxs img {
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.2
  );
}

.info-bar-people {
  width: auto;
  padding: 0 1em;
  margin: 0;
  margin-right: .5em;
}

.how-might-we {
  margin-top: -2.2em;
}

.how-might-we h2 {
  margin: 2.5em 0;
  margin-bottom: 0;
}

.how-might-we ul{
  margin-left: 7em;
  margin-top: 2em;
}

.how-might-we ul li {
  margin-bottom: 1.3em !important;
  list-style-type: circle;
  font-size: 20px !important;
  line-height: 25.6px;
  font-weight: 300;
  list-style-image: url('../Images/Ellipse_1.png');
  padding-left: .5em;
  letter-spacing: 0em;
}

/*
========================
  The Content Strategy
========================
*/

.the-content-strategy .task-buddy-h1 {
  margin-bottom: 0 !important;
}

.the-content-strategy .the-problem-description {
  margin: 3em 0;
}

.the-content-strategy .para {
  font-size: 20px !important;
}

.highlight {
  font-family: TradeGothicLTStd-Extended;
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: 35px;
  letter-spacing: 0em;
  text-align: left;
}

.the-content-strategy h2{
  margin-left: -1.6em;
}

.analysis-table {
  max-width: 90%;
  margin-top: 4em;
  margin-bottom: 5.5em;
  border-collapse: collapse;
}

.hidden-table {
  display: none;
}

.top-heading-container {
  display: flex;
  flex-direction: column;
  gap: 1em;
  margin: 2em 0;
}

.top-heading-container img {
  max-height: 80px;
  object-fit: contain;
}

.icns {
  margin: 1em;
}

.analysis-table tr, td, th {
  border: 1px solid #A19E9E;
  text-align: center;
} 

.analysis-table p {
  text-align: center;
  padding: 0 1em;
}

.table-box {
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
  border: 1px solid #666;
  padding: 1em 0;
}

.table-header span:not(.box-different) {
  margin-top: 1em;
}

.box-different {
  text-align: center;
}

.heading {
  width: 20%;
}

.box-heading {
  font-family: OCR_A_Std_Regular;
  font-weight: 400;
  font-size: 15.61px;
  line-height: 27.51px;
  padding: 0 1em;
}

.telda {
  display: flex;
  flex-direction: column;
  align-items: center;
  border: none;
}

.telda img{
  width: 59.52px;
  height: auto;
}

.brainstorming h2{
  margin-top: 2.3em;
  margin-bottom: 1.5em;
}

.brain-gallery {
  margin-top: 4em;
}

.brain-gallery img {
  
}

.value-prop {
  width: 100%;
  margin-left: -2.3em;
  
}

.value-prop-p p {
  margin: 1em 0 !important;
  margin-bottom: 2em !important;
}

.value-prop span{
  display: inline;
  font-family: work-sans, sans-serif;
}

.value-prop p, .bold {
  font-size: 24px !important;
  padding-left: .5em;
}

.user-journey h2 {
  margin: 2.2em -1.6em;
  margin-right: 0;
}

.user-journey p {
  font-size: 20px;
}

.user-journey section span {
  font-weight: 600;
  font-size: 20px;
}

.user-journey section{
  display: flex;
  justify-content: space-between;
}

.roxy {
  display: flex;
  gap: 2em;
}

.roxy img {
  height: 200px;
  margin-right: 1em;
}

.roxy section, .how-might-we {
  display: flex;
  flex-direction: column;
}

.roxy section {
  max-width: 70%;
  justify-content: flex-start;
}

.user-j-cont {
  margin: 0;
  min-width: 40%;
}

.user-j-cont ul {
  margin-left: 0;
}

.user-j-cont ul li {
  margin: 0 !important;
}

.firs-time-journey {
  margin-top: 3em;
  display: flex;
  flex-direction: column;
}

.firs-time-journey p {
  text-align: center;
  max-width: 1440px;
}

.firs-time-journey img {
  margin-bottom: 1em;
}

.taskflow-img-box {
  display: flex;
}

.task-flow h2 {
  margin-bottom: 70px;
}

.taskflow-img-box .diagram {
  box-sizing: border-box;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  width: 100%;
  max-width: 550px;
}

.taskflow-img-box .diagram:last-child {
  margin-left: 7em;
  max-width: 447px;
}

.taskflow-img-box .diagram p {
  text-align: center;
  margin-top: 2.5em;
  margin-bottom: 3em !important;
}

.diagram span {
  letter-spacing: 0em;;
}

/*
========================
  The Product Design
========================
*/

.w-h2{
  margin-top: .5em !important;
  margin-bottom: 0 !important;
}

.wireframes-gallery {
  margin-bottom: 8em;
  margin-left: -2em;
}

.wireframes-gallery .diagram:nth-child(2) img{
  border: none;
}

.the-product-design .lightbox {
  gap: 2em;
}

.the-product-design .task-buddy-h2 {
  margin: 3em 0;
  margin-left: -1.6em;
}

.low-fidelity section {
  display: flex;
  gap: 5em;
}

.low-fi-section {
  margin-left: -2em;
}

.low-fidelity h2 {
  margin-bottom: 1em !important;
}

.low-fidelity-right p {
  text-align: left;
}

.low-fidelity-right {
  text-align: center;
}

.low-fi-btn-container {
  text-align: center;
  display: flex;
  justify-content: center;
  width: 100%;
}

.flow-fi-btn {
  display: inline-block;
  width: 60% !important;
  max-width: 447px;
  margin-top: 6em;
  text-decoration: none;
  color: #000;
}

.the-product-design .lightbox .diagram img{
  width: 100% !important;
}

.the-product-design .lightbox .diagram:nth-child(2) img{
  border: none !important;
}

.the-product-design .orange-box {
  border: 10px solid #EB9893;
  box-shadow: 0 0 0px 1px #444444, inset 0 0 0px 1px #444444;
  margin-top: 2em;
  background: #e5e5e5;
}

.proto-img {
  width: 100%;
  max-width: 450px;
}

.low-fidelity-right p {
  margin-top: 2em;
}

.phone-demos {
  margin: 6em 0;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  margin-left: -2em;
  gap: 2em;
  justify-content: space-around;
}

.phone-demos img {
  width: 276px;
  object-fit: contain;
}



/*******************************
/*------------------------------
        Media Queries
------------------------------*/
/*******************************/

@media (max-width: 1310px) {
  .lightboxs {
    flex-wrap: wrap;
    justify-content: space-around;
  }
}

@media (max-width: 1150px) {
  .data-percentages {
    justify-content: space-around;
    align-items: start;
    height: 100%;
    width: 100%;
    flex-wrap: wrap;
    justify-content: space-around;
  }

  .hypothesis-section .orange-box {
    max-width: 40%;
  }

  .report {
    /* width: 33.33%; */
    flex-direction: column;
    align-items: center;
  }
}

@media (max-width: 1140px) {
  .analysis-table {
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }

  .analysis-table-second {
    display: grid;
  }

  .hidden {
    display: none;
  }
}

@media (max-width: 1135px) {
  .shown-table {
    display: none;
  }

  .hidden-table {
    display: initial;
  }
}

@media (max-width: 1130px) {
  .task-buddy-floating-text {
    top: 3em;
    right: 1.5em;
  }
}

@media (max-width: 1030px) {
  .task-flow .lightbox {
    flex-direction: column;
    align-items: center;
    gap: 3em;
  }

  .task-flow .lightbox .diagram{
    width: 100%;
}

  .task-flow .lightbox .diagram img {
    width: 100%;
  }
}

@media (max-width: 890px) {
  .low-fidelity section {
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  .low-fidelity-right p {
    margin: 0;
  }

  .low-fidelity section button {
    margin: 4em auto;
  }

  .low-fidelity-right p {
    max-width: 100%;
  }
}

@media (max-width: 850px) {
  .theIdea-section-content {
    flex-wrap: wrap;
  }

  .the-idea {
    width: 100% !important;
  }
  
  .the-problem-details {
    max-width: 90%;
  }

  .hypothesis-section {
    flex-direction: column;
  }

  .hypothesis-section .orange-box {
    max-width: 100% !important;
    margin-bottom: 1em;
  }

  .productive {
    font-size: .2rem !important;
    background: #000;
  }
}

@media (max-width: 745px) {
  .analysis-table {
    /* margin-left: -2em; */
  }

  .box-different {
    /* background: #000; */
    word-wrap: wrap;
  }

  .user-journey section {
    flex-direction: column;
    gap: 2em;
  }
}

@media (max-width: 675px) {
  .task-buddy-h1 {
    font-size: 30px
  }

  .open-btn img, .close-btn img{
    width: 28px;
  }

  .table-box img {
    max-width: 64px;
  }

  .box-heading {
    font-size: .8rem;
  }

  .table-box p {
    font-size: .8rem;
  }
}

@media (max-width: 650px) {
  .task-buddy-floating-text {
    right: 1em;
  }

  .the-details {
    border-left: none !important;
    margin-left: -2em;
  }

  .max-width-1130 {
    max-width: 100% !important;
  }
  
  .short-p {
    max-width: 100%;
  }

  .data-percentages {
    flex-direction: column;
    justify-content: center;
  }

  .data-percentages  p {
  }
  
  .report {
    flex-direction: row;
    margin-left: 2em;
    margin-bottom: 1em;
  }

  .task-buddy-h1 {
    font-size: 28px !important;
  }

  .open-btn img, .close-btn img{
    width: 30px;
  }
}

@media (max-width: 580px) {
  .analysis-table {
    margin-left: 0;
    background: #000 !important;
  }

  .analysis-table p {
    font-size: .8rem !important;
  }

  .box-heading {
    font-size: .7rem;
    font-weight: bold;
  }

  .table-box p {
    font-size: .7rem;
  }

  .analysis-table img {
    width: 46px;
  }
}

@media (max-width: 490px ) {
  .sm-text {
    font-size: .5rem;
    margin-left: 0;
    margin-right: 0;
  }
}

@media (max-width: 460px) {
  .task-buddy .content {
    margin: 200px 1em;
  }

  .task-buddy-text {
    width: 100%;
  }

  .data-percentages {
    margin-left: -4em;
  }

  .how-might-we ul {
    margin-left: 2em;
  }

  .lightboxs {
    margin-left: 0 1em;
  }

  .lightboxs img {
    width: 100%;
  }
}

@media (max-width: 405px) {
  .task-buddy-h1 {
    font-size: 24px;
  }

  .open-btn img, .close-btn img{
    width: 26px;
  }
}